/** seletor{propriedade:valor;}

Tipos de seletor existentes::
- Seletor de tipo: Seleciona todos os elementos de um determinado tipo(ex: p, h1, div)
- Seletor de ID: Seleciona todos os elementos com um determinado ID(ex: #meu-id)
- Seletor de classe: Seleciona todos os elementos de uma determinada classe (ex: .minhaclasse)

**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /** border: 1px solid red; **/
}
p{
    background-color: rgb(112, 101, 88);
}

#tituloformacss{
    background-color: aqua;
}
.vermelho{
    color: red;
}
[for="nome"], [type="submit"]{
color: rgb(0, 0, 0)}